<html>
<head>
  <title></title>
  <script src='bower_components/angular/angular.js'></script>
  <script type='text/javascript'>

    var myApp = angular.module('myApp', []);
    myApp.factory('productFactory', function (){
        var products = [];
        var factory = {};

        factory.getProducts = function (callback){
            callback(products);
        }
        factory.create=function(data,callback){
          data.quantity = 5;
          products.push(data);
          console.log(data)
          callback(products);
        }
        factory.delete=function(index,callback){
          products.splice(index,1);
          callback(products);
        }
        factory.update=function(data,callback){
          // console.log( "factory", data.id);
          // console.log( "factory", data.quantity);
          if(products[data.id].quantity>1){
            products[data.id].quantity-=data.quantity;
            console.log(products[data.id].quantity, "quant")
          }
          else{
            products[data.id].quantity="Out of Stock";
            console.log(products[data.id].quantity, "quant")
          }
          callback(products);
        }
        return factory;
      });

    myApp.controller('productsController', ['$scope', 'productFactory', function ($scope, productFactory){
    productFactory.getProducts(function(data){
      $scope.products =data;
    })
    $scope.addProducts = function (){

      productFactory.create($scope.product, function(data){
        $scope.product = {};
    })
    $scope.deleteProducts = function (index){
      productFactory.delete(index, function(data){
      });
    }
    $scope.quantityIndex = function(id){
      productFactory.update({id:id, quantity:1
      }, function(returndata){
        console.log(returndata, "controller");
      });
    }
  }
}]);
  </script>
</head>
<body ng-app='myApp'>
    <div ng-controller='productsController'>
    <form>
      Product Name: <input type='text' ng-model='product.name'>
      Product Price: <input type='text' ng-model='product.price'>
      <input type='submit' value='create product' ng-click='addProducts()' >
    </form>
        <table>
          <tr>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Actions</th>
          </tr>
          <tr ng-repeat="product in products track by $index">
            <td>{{ product.name }}</td>
            <td>{{ product.price | number: 2  }}</td>
            <td><input type='submit' value='delete product' ng-click='deleteProducts($index)' ></td>
          </tr>
        </table>

        <table>
          <tr>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Quantity Available</th>
            <th>Actions</th>
          </tr>
          <tr ng-repeat="product in products track by $index">
            <td>{{ product.name }}</td>
            <td>{{ product.price | number: 2  }}</td>
            <td>{{ product.quantity }}</td>
            <td><button ng-click = 'quantityIndex($index)'>Buy</button>
            </td>
          </tr>
        </table>


    </div>
</body>
</html>
